Xft.dpi:       96
Xft.antialias: true
Xft.hinting:   true
Xft.rgba:      rgb
Xft.autohint:  false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault


XTerm*faceName:         xft:UbuntuMono Nerd Font
XTerm*faceSize:          13
XTerm*selectToClipboard: true

!UXTerm
UXTerm*faceName: xft:UbuntuMono Nerd Font
UXTerm*faceSize: 13
UXTerm*dynamicColors:      true
UXTerm*utf8:               2
UXTerm*eightBitInput:      true
UXTerm*saveLines:          512
UXTerm*scrollKey:          true
UXTerm*scrollTtyOutput:    false
UXTerm*jumpScroll:         true
UXTerm*multiScroll:        true
UXTerm*toolBar:            false

URxvt.scrollBar: false
URxvt.font: xft:UbuntuMono Nerd Font:size=13

! hard contrast:
UXTerm*background: #1d2021
! *background: #282828
! soft contrast: *background: #32302f
UXTerm*foreground: #ebdbb2

! Black + DarkGrey
UXTerm*color0:  #282828
UXTerm*color8:  #928374

! DarkRed + Red
UXTerm*color1:  #cc241d
UXTerm*color9:  #fb4934

! DarkGreen + Green
UXTerm*color2:  #98971a
UXTerm*color10: #b8bb26

! DarkYellow + Yellow
UXTerm*color3:  #d79921
UXTerm*color11: #fabd2f

! DarkBlue + Blue
UXTerm*color4:  #458588
UXTerm*color12: #83a598

! DarkMagenta + Magenta
UXTerm*color5:  #b16286
UXTerm*color13: #d3869b

! DarkCyan + Cyan
UXTerm*color6:  #689d6a
UXTerm*color14: #8ec07c

! LightGrey + White
UXTerm*color7:  #a89984
UXTerm*color15: #ebdbb2


!Xterm colors
XTerm*foreground:     rgb:dd/dd/dd
XTerm*background:     rgb:22/22/22
!black
XTerm*color0:         rgb:19/19/19
XTerm*color8:         rgb:25/25/25
!red
XTerm*color1:         rgb:80/32/32
XTerm*color9:         rgb:98/2b/2b
!green
XTerm*color2:         rgb:5b/76/2f
XTerm*color10:        rgb:89/b8/3f
!brown/yellow
XTerm*color3:         rgb:aa/99/43
XTerm*color11:        rgb:ef/ef/60
!blue
XTerm*color4:         rgb:32/4c/80
XTerm*color12:        rgb:2b/4f/98
!magenta
XTerm*color5:         rgb:70/6c/9a
XTerm*color13:        rgb:82/6a/b1
!cyan
XTerm*color6:         rgb:92/b1/9e
XTerm*color14:        rgb:a1/cd/cd
!white
XTerm*color7:         rgb:ff/ff/ff
XTerm*color15:        rgb:dd/dd/dd

! hard contrast:
*background: #1d2021
! *background: #282828
! soft contrast: *background: #32302f
*foreground: #ebdbb2

! Black + DarkGrey
*color0:  #282828
*color8:  #928374

! DarkRed + Red
*color1:  #cc241d
*color9:  #fb4934

! DarkGreen + Green
*color2:  #98971a
*color10: #b8bb26

! DarkYellow + Yellow
*color3:  #d79921
*color11: #fabd2f

! DarkBlue + Blue
*color4:  #458588
*color12: #83a598

! DarkMagenta + Magenta
*color5:  #b16286
*color13: #d3869b

! DarkCyan + Cyan
*color6:  #689d6a
*color14: #8ec07c

! LightGrey + White
*color7:  #a89984
*color15: #ebdbb2
